In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Data/FAOSTAT_almonds.csv')

In [3]:
df.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QC,Crops,9,Argentina,5312,Area harvested,221,"Almonds, with shell",2005,2005,ha,257.0,Im,FAO data based on imputation methodology
1,QC,Crops,9,Argentina,5312,Area harvested,221,"Almonds, with shell",2006,2006,ha,260.0,F,FAO estimate
2,QC,Crops,9,Argentina,5312,Area harvested,221,"Almonds, with shell",2007,2007,ha,270.0,F,FAO estimate
3,QC,Crops,9,Argentina,5312,Area harvested,221,"Almonds, with shell",2008,2008,ha,283.0,Im,FAO data based on imputation methodology
4,QC,Crops,9,Argentina,5312,Area harvested,221,"Almonds, with shell",2009,2009,ha,300.0,F,FAO estimate

In [4]:
df['Element'].unique()

array(['Area harvested', 'Yield', 'Production'], dtype=object)

In [5]:
Almonds_Area = df[df['Element'] == 'Area harvested']
Almonds_Yield = df[df['Element'] == 'Yield']
Almonds_Prod = df[df['Element'] == 'Production']

In [6]:
Almonds = Almonds_Area.merge(Almonds_Yield, 
                             left_on=['Area Code','Year'], 
                             right_on = ['Area Code','Year'], 
                             how='left',
                             suffixes=('_Area','_Yield'))

In [7]:
Almonds = Almonds.merge(Almonds_Prod, 
                             left_on=['Area Code','Year'], 
                             right_on = ['Area Code','Year'], 
                             how='left')

In [8]:
Almonds.columns

Index(['Domain Code_Area', 'Domain_Area', 'Area Code', 'Area_Area',
       'Element Code_Area', 'Element_Area', 'Item Code_Area', 'Item_Area',
       'Year Code_Area', 'Year', 'Unit_Area', 'Value_Area', 'Flag_Area',
       'Flag Description_Area', 'Domain Code_Yield', 'Domain_Yield',
       'Area_Yield', 'Element Code_Yield', 'Element_Yield', 'Item Code_Yield',
       'Item_Yield', 'Year Code_Yield', 'Unit_Yield', 'Value_Yield',
       'Flag_Yield', 'Flag Description_Yield', 'Domain Code', 'Domain', 'Area',
       'Element Code', 'Element', 'Item Code', 'Item', 'Year Code', 'Unit',
       'Value', 'Flag', 'Flag Description'],
      dtype='object')

In [9]:
Almonds.isnull().sum()

Domain Code_Area           0
Domain_Area                0
Area Code                  0
Area_Area                  0
Element Code_Area          0
Element_Area               0
Item Code_Area             0
Item_Area                  0
Year Code_Area             0
Year                       0
Unit_Area                  0
Value_Area                22
Flag_Area                 22
Flag Description_Area      0
Domain Code_Yield         22
Domain_Yield              22
Area_Yield                22
Element Code_Yield        22
Element_Yield             22
Item Code_Yield           22
Item_Yield                22
Year Code_Yield           22
Unit_Yield                22
Value_Yield               22
Flag_Yield                22
Flag Description_Yield    22
Domain Code                0
Domain                     0
Area                       0
Element Code               0
Element                    0
Item Code                  0
Item                       0
Year Code                  0
Unit                       0
Value                     22
Flag                      13
Flag Description           0
dtype: int64

In [10]:
Almonds = Almonds.drop(columns=['Flag Description',
                                'Flag',
                                'Flag Description_Yield',
                                'Flag_Yield',
                                'Flag Description_Area',
                                'Flag_Area',
                                'Year Code',
                                'Item',
                                'Item Code',
                                'Area','Domain',
                                'Domain Code',
                                'Year Code_Yield',
                                'Item_Yield',
                                'Item Code_Yield',
                                'Element_Yield',
                                'Area_Yield',
                                'Domain_Yield',
                                'Domain Code_Yield',
                                'Year Code_Area',
                                'Domain Code_Area',
                                'Domain_Area',
                                'Element Code_Area',
                                'Element Code_Yield',
                                'Element Code',
                                'Element',
                                'Element_Area'], axis=1)

In [11]:
Almonds.columns

Index(['Area Code', 'Area_Area', 'Item Code_Area', 'Item_Area', 'Year',
       'Unit_Area', 'Value_Area', 'Unit_Yield', 'Value_Yield', 'Unit',
       'Value'],
      dtype='object')

In [12]:
Almonds.head()

,Area Code,Area_Area,Item Code_Area,Item_Area,Year,Unit_Area,Value_Area,Unit_Yield,Value_Yield,Unit,Value
0,9,Argentina,221,"Almonds, with shell",2005,ha,257.0,hg/ha,19027.0,tonnes,489.0
1,9,Argentina,221,"Almonds, with shell",2006,ha,260.0,hg/ha,18846.0,tonnes,490.0
2,9,Argentina,221,"Almonds, with shell",2007,ha,270.0,hg/ha,18519.0,tonnes,500.0
3,9,Argentina,221,"Almonds, with shell",2008,ha,283.0,hg/ha,19011.0,tonnes,538.0
4,9,Argentina,221,"Almonds, with shell",2009,ha,300.0,hg/ha,19233.0,tonnes,577.0

In [13]:
Almonds.rename(columns={'Area_Area':'Area',
                        'Item Code_Area':'Item_Code',
                        'Item_Area':'Item',
                        'Value_Area':'Almond_Area',
                        'Value_Yield':'Almond_Yield',
                        'Unit':'Unit_Prod',
                        'Value':'Almond_Prod'},inplace=True)

In [14]:
Almonds.to_csv('Data/Almonds.csv',index=False)

In [15]:
df = pd.read_csv('Data/FAOSTAT_apples.csv')

In [16]:
Apples_Area = df[df['Element'] == 'Area harvested']
Apples_Yield = df[df['Element'] == 'Yield']
Apples_Prod = df[df['Element'] == 'Production']

In [17]:
Apples = Apples_Area.merge(Apples_Yield, 
                             left_on=['Area Code','Year'], 
                             right_on = ['Area Code','Year'], 
                             how='left',
                             suffixes=('_Area','_Yield'))

In [18]:
Apples = Apples.merge(Apples_Prod, 
                             left_on=['Area Code','Year'], 
                             right_on = ['Area Code','Year'], 
                             how='left')

In [19]:
Apples = Apples.drop(columns=['Flag Description',
                                'Flag',
                                'Flag Description_Yield',
                                'Flag_Yield',
                                'Flag Description_Area',
                                'Flag_Area',
                                'Year Code',
                                'Item',
                                'Item Code',
                                'Area','Domain',
                                'Domain Code',
                                'Year Code_Yield',
                                'Item_Yield',
                                'Item Code_Yield',
                                'Element_Yield',
                                'Area_Yield',
                                'Domain_Yield',
                                'Domain Code_Yield',
                                'Year Code_Area',
                                'Domain Code_Area',
                                'Domain_Area',
                                'Element Code_Area',
                                'Element Code_Yield',
                                'Element Code',
                                'Element',
                                'Element_Area'], axis=1)

In [20]:
Apples.rename(columns={'Area_Area':'Area',
                       'Item Code_Area':'Item_Code',
                       'Item_Area':'Item',
                       'Value_Area':'Apples_Area',
                       'Value_Yield':'Apples_Yield',
                       'Unit':'Unit_Prod',
                       'Value':'Apples_Prod'},inplace=True)

In [21]:
Apples.to_csv('Data/Apples.csv',index=False)

In [22]:
df = pd.read_csv('Data/FAOSTAT_apricots.csv')

In [23]:
Apricots_Area = df[df['Element'] == 'Area harvested']
Apricots_Yield = df[df['Element'] == 'Yield']
Apricots_Prod = df[df['Element'] == 'Production']

In [24]:
Apricots = Apricots_Area.merge(Apricots_Yield, 
                             left_on=['Area Code','Year'], 
                             right_on = ['Area Code','Year'], 
                             how='left',
                             suffixes=('_Area','_Yield'))

In [25]:
Apricots = Apricots.merge(Apricots_Prod, 
                             left_on=['Area Code','Year'], 
                             right_on = ['Area Code','Year'], 
                             how='left')

In [26]:
Apricots = Apricots.drop(columns=['Flag Description',
                                'Flag',
                                'Flag Description_Yield',
                                'Flag_Yield',
                                'Flag Description_Area',
                                'Flag_Area',
                                'Year Code',
                                'Item',
                                'Item Code',
                                'Area','Domain',
                                'Domain Code',
                                'Year Code_Yield',
                                'Item_Yield',
                                'Item Code_Yield',
                                'Element_Yield',
                                'Area_Yield',
                                'Domain_Yield',
                                'Domain Code_Yield',
                                'Year Code_Area',
                                'Domain Code_Area',
                                'Domain_Area',
                                'Element Code_Area',
                                'Element Code_Yield',
                                'Element Code',
                                'Element',
                                'Element_Area'], axis=1)

In [27]:
Apricots.rename(columns={'Area_Area':'Area',
                        'Item Code_Area':'Item_Code',
                        'Item_Area':'Item',
                         'Value_Area':'Apricots_Area',
                         'Value_Yield':'Apricots_Yield',
                        'Unit':'Unit_Prod',
                        'Value':'Apricots_Prod'},inplace=True)

In [28]:
Apricots.to_csv('Data/Apricots.csv',index=False)

In [29]:
df = pd.read_csv('Data/FAOSTAT_avocados.csv')

In [30]:
Avocados_Area = df[df['Element'] == 'Area harvested']
Avocados_Yield = df[df['Element'] == 'Yield']
Avocados_Prod = df[df['Element'] == 'Production']

In [31]:
Avocados = Avocados_Area.merge(Avocados_Yield, 
                             left_on=['Area Code','Year'], 
                             right_on = ['Area Code','Year'], 
                             how='left',
                             suffixes=('_Area','_Yield'))

In [32]:
Avocados = Avocados.merge(Avocados_Prod, 
                             left_on=['Area Code','Year'], 
                             right_on = ['Area Code','Year'], 
                             how='left')

In [33]:
Avocados = Avocados.drop(columns=['Flag Description',
                                'Flag',
                                'Flag Description_Yield',
                                'Flag_Yield',
                                'Flag Description_Area',
                                'Flag_Area',
                                'Year Code',
                                'Item',
                                'Item Code',
                                'Area','Domain',
                                'Domain Code',
                                'Year Code_Yield',
                                'Item_Yield',
                                'Item Code_Yield',
                                'Element_Yield',
                                'Area_Yield',
                                'Domain_Yield',
                                'Domain Code_Yield',
                                'Year Code_Area',
                                'Domain Code_Area',
                                'Domain_Area',
                                'Element Code_Area',
                                'Element Code_Yield',
                                'Element Code',
                                'Element',
                                'Element_Area'], axis=1)

In [35]:
Avocados.rename(columns={'Area_Area':'Area',
                        'Item Code_Area':'Item_Code',
                        'Item_Area':'Item',
                         'Value_Area':'Avocados_Area',
                         'Value_Yield':'Avocados_Yield',
                        'Unit':'Unit_Prod',
                        'Value':'Avocados_Prod'},inplace=True)

In [36]:
Avocados.to_csv('Data/Avocados.csv',index=False)

In [37]:
df = pd.read_csv('Data/FAOSTAT_bananas.csv')

In [38]:
Bananas_Area = df[df['Element'] == 'Area harvested']
Bananas_Yield = df[df['Element'] == 'Yield']
Bananas_Prod = df[df['Element'] == 'Production']

In [39]:
Bananas = Bananas_Area.merge(Bananas_Yield, 
                             left_on=['Area Code','Year'], 
                             right_on = ['Area Code','Year'], 
                             how='left',
                             suffixes=('_Area','_Yield'))

In [40]:
Bananas = Bananas.merge(Bananas_Prod, 
                             left_on=['Area Code','Year'], 
                             right_on = ['Area Code','Year'], 
                             how='left')

In [41]:
Bananas = Bananas.drop(columns=['Flag Description',
                                'Flag',
                                'Flag Description_Yield',
                                'Flag_Yield',
                                'Flag Description_Area',
                                'Flag_Area',
                                'Year Code',
                                'Item',
                                'Item Code',
                                'Area','Domain',
                                'Domain Code',
                                'Year Code_Yield',
                                'Item_Yield',
                                'Item Code_Yield',
                                'Element_Yield',
                                'Area_Yield',
                                'Domain_Yield',
                                'Domain Code_Yield',
                                'Year Code_Area',
                                'Domain Code_Area',
                                'Domain_Area',
                                'Element Code_Area',
                                'Element Code_Yield',
                                'Element Code',
                                'Element',
                                'Element_Area'], axis=1)

In [42]:
Bananas.rename(columns={'Area_Area':'Area',
                        'Item Code_Area':'Item_Code',
                        'Item_Area':'Item',
                        'Value_Area':'Bananas_Area',
                        'Value_Yield':'Bananas_Yield',
                        'Unit':'Unit_Prod',
                        'Value':'Bananas_Prod'},inplace=True)

In [43]:
Bananas.to_csv('Data/Bananas.csv',index=False)

In [44]:
df = pd.read_csv('Data/FAOSTAT_blueberries.csv')

In [45]:
Blueberries_Area = df[df['Element'] == 'Area harvested']
Blueberries_Yield = df[df['Element'] == 'Yield']
Blueberries_Prod = df[df['Element'] == 'Production']

In [46]:
Blueberries = Blueberries_Area.merge(Blueberries_Yield, 
                             left_on=['Area Code','Year'], 
                             right_on = ['Area Code','Year'], 
                             how='left',
                             suffixes=('_Area','_Yield'))

In [47]:
Blueberries = Blueberries.merge(Blueberries_Prod, 
                             left_on=['Area Code','Year'], 
                             right_on = ['Area Code','Year'], 
                             how='left')

In [48]:
Blueberries = Blueberries.drop(columns=['Flag Description',
                                'Flag',
                                'Flag Description_Yield',
                                'Flag_Yield',
                                'Flag Description_Area',
                                'Flag_Area',
                                'Year Code',
                                'Item',
                                'Item Code',
                                'Area','Domain',
                                'Domain Code',
                                'Year Code_Yield',
                                'Item_Yield',
                                'Item Code_Yield',
                                'Element_Yield',
                                'Area_Yield',
                                'Domain_Yield',
                                'Domain Code_Yield',
                                'Year Code_Area',
                                'Domain Code_Area',
                                'Domain_Area',
                                'Element Code_Area',
                                'Element Code_Yield',
                                'Element Code',
                                'Element',
                                'Element_Area'], axis=1)

In [50]:
Blueberries.rename(columns={'Area_Area':'Area',
                        'Item Code_Area':'Item_Code',
                        'Item_Area':'Item',
                            'Value_Area':'Blueberries_Area',
                            'Value_Yield':'Blueberries_Yield',
                        'Unit':'Unit_Prod',
                        'Value':'Blueberries_Prod'},inplace=True)

In [51]:
Blueberries.to_csv('Data/Blueberries.csv',index=False)

In [52]:
df = pd.read_csv('Data/FAOSTAT_cherries.csv')

In [53]:
Cherries_Area = df[df['Element'] == 'Area harvested']
Cherries_Yield = df[df['Element'] == 'Yield']
Cherries_Prod = df[df['Element'] == 'Production']

In [54]:
Cherries = Cherries_Area.merge(Cherries_Yield, 
                             left_on=['Area Code','Year'], 
                             right_on = ['Area Code','Year'], 
                             how='left',
                             suffixes=('_Area','_Yield'))

In [55]:
Cherries = Cherries.merge(Cherries_Prod, 
                             left_on=['Area Code','Year'], 
                             right_on = ['Area Code','Year'], 
                             how='left')

In [56]:
Cherries = Cherries.drop(columns=['Flag Description',
                                'Flag',
                                'Flag Description_Yield',
                                'Flag_Yield',
                                'Flag Description_Area',
                                'Flag_Area',
                                'Year Code',
                                'Item',
                                'Item Code',
                                'Area','Domain',
                                'Domain Code',
                                'Year Code_Yield',
                                'Item_Yield',
                                'Item Code_Yield',
                                'Element_Yield',
                                'Area_Yield',
                                'Domain_Yield',
                                'Domain Code_Yield',
                                'Year Code_Area',
                                'Domain Code_Area',
                                'Domain_Area',
                                'Element Code_Area',
                                'Element Code_Yield',
                                'Element Code',
                                'Element',
                                'Element_Area'], axis=1)

In [58]:
Cherries.rename(columns={'Area_Area':'Area',
                        'Item Code_Area':'Item_Code',
                        'Item_Area':'Item',
                         'Value_Area':'Cherries_Area',
                         'Value_Yield':'Cherries_Yield',
                        'Unit':'Unit_Prod',
                        'Value':'Cherries_Prod'},inplace=True)

In [59]:
Cherries.to_csv('Data/Cherries.csv',index=False)

In [64]:
df = pd.read_csv('Data/FAOSTAT_total_Nitrogen.csv')

In [65]:
Nitrogen = df.drop(columns=['Domain Code','Domain','Element Code','Element','Year Code','Flag','Flag Description'])
Nitrogen.rename(columns={'Item Code':'Item_Code','Value':'Nitrogen_Prod'},inplace=True)
Nitrogen.to_csv('Data/Nitrogen.csv',index=False)

In [66]:
df = pd.read_csv('Data/FAOSTAT_total_Phosphate.csv')

In [67]:
Phosphate = df.drop(columns=['Domain Code','Domain','Element Code','Element','Year Code','Flag','Flag Description'])
Phosphate.rename(columns={'Item Code':'Item_Code','Value':'Phosphate_Prod'},inplace=True)
Phosphate.to_csv('Data/Phosphate.csv',index=False)